@font-face {
    font-family: 'BoldPixels';
    src: url('../assets/fonts/BoldPixels.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-image: url('https://res.cloudinary.com/djuisin8z/image/upload/v1763923517/desktop-background-ingame_4_mjxdvu.png');
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
}



.buttons {
    position: absolute;
    top: 3vh;
    right: 2vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.btn {
    width: 70px;
    height: 70px;
    background-size: contain;
    background-repeat: no-repeat;
}

.settings {
    background-image: url('https://res.cloudinary.com/djuisin8z/image/upload/v1761747882/Ajustes_sbpegh.png');

}

.home {
    background-image: url('https://res.cloudinary.com/djuisin8z/image/upload/v1761747881/casa_ydmzkk.png');
}




.bubble {
    position: absolute;
    top: 66%;
    left: 36%;
    transform: translate(-50%, -50%);
    width: 360px;
    aspect-ratio: 1 / 1;
    pointer-events: none;

    background-image: url('https://res.cloudinary.com/djuisin8z/image/upload/v1763923733/aset_bocadillo_db9tzc.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.bubble-text {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    text-align: center;
    font-family: 'BoldPixels', sans-serif;
    font-size: 22px;
    color: black;
    line-height: 1.3;
}



.characters {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.characters img {
    position: absolute;
    width: 130px;
}

.characters img:nth-child(1) { left: 32%; bottom: 2%; }
.characters img:nth-child(2) { left: 38%; bottom: 6%; }
.characters img:nth-child(3) { left: 45%; bottom: 11%; }
.characters img:nth-child(4) { left: 52%; bottom: 6%; }
.characters img:nth-child(5) { left: 58%; bottom: 2%; }




@media (max-width: 768px) {
    body {
        background-image: url('https://res.cloudinary.com/diycpogap/image/upload/v1763630989/credit-screen-background-mobile_lwiygw.jpg');
        background-attachment: fixed;
    }

    .buttons .btn {
        width: 50px;
        height: 50px;
        
    }

    .buttons {
        top: 4vh;
        right: 3vw;

    }

    .bubble {
        width: 230px;
        top: 67%;
        left: 34%;
        transform: scaleX(-1);

    }

    .bubble * {
    transform: scaleX(-1); 
}

    .bubble-text {
        font-size: 14px;
        width: 70%;
        top: 26%;
        left: 15%;
        
    }

    .characters img {
        width: 90px;
    }

    
    .characters img:nth-child(1) { left: 1%; bottom: 0%; }
    .characters img:nth-child(2) { left: 18%; bottom: 0%; }
    .characters img:nth-child(3) { left: 36%; bottom: 0%; }
    .characters img:nth-child(4) { left: 57%; bottom: 0%; }
    .characters img:nth-child(5) { left: 78%; bottom: 0%; }
}
