@font-face {
  font-family: 'BoldPixels';
  src: url('../fonts/BoldPixels.ttf') format('truetype'),
       url('../fonts/BoldPixels.otf') format('opentype');
  
}


body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #000;
}

.screen {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('https://res.cloudinary.com/djuisin8z/image/upload/v1761727900/mobile-background-start-cropped_oumb7m.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.logo-container {
  position: relative;
  width: 90vw;
  max-width: 800px;
  margin: 0 auto 25px;

  background-image: url('https://res.cloudinary.com/djuisin8z/image/upload/v1761747881/tablero_dham52.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;

  aspect-ratio: 2 / 1;
  overflow: hidden;
}


.title-text {
  position: absolute;
  top: 40%;   
  left: 50%;  
  transform: translate(-50%, -50%);
  
  font-family: 'BoldPixels', sans-serif;
  color: #ffcc66;
  text-transform: uppercase;
  text-align: center;
  line-height: 0.85;
  margin: 0;
  width: 80%;
  letter-spacing: 0.1em;

  
  font-size: calc(1rem + 4vw);

  text-shadow:
    2px 2px #3b2000,
    3px 3px #3b2000,
    -1px -1px #3b2000,
    1px -1px #3b2000;
}


@media (max-width: 480px) {
  .logo-container {
    width: 95vw;
    aspect-ratio: 2.2 / 1;
  }

  .title-text {
    font-size: calc(0.8rem + 6vw);
    width: 90%;
    line-height: 0.9;
  }
}


@media (min-width: 1024px) {
  .title-text {
    font-size: calc(1rem + 2vw);
  }
}



.btn {
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.btn:hover {
  transform: scale(1.1);
}

.play-btn {
  background-image: url('https://res.cloudinary.com/djuisin8z/image/upload/v1761747882/Play_ofexbx.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 120px;
  height: 120px;
  position: absolute;
  bottom: 60px;
}

.mute-btn, .settings-btn {
  position: absolute;
  top: 20px;
  width: 100px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
}

.mute-btn {
  left: 20px;
  background-image: url('https://res.cloudinary.com/djuisin8z/image/upload/v1762156867/aset_mute_vcjgt3.png');
}

.settings-btn {
  right: 20px;
  background-image: url('https://res.cloudinary.com/djuisin8z/image/upload/v1761747882/Ajustes_sbpegh.png');
}


@media (max-width: 768px) {
  .logo-container {
    width: 90%;
    max-width: 500px;
  }

  .title-text {
    font-size: clamp(3rem, 6vw, 4.5rem);
  }

  .play-btn {
    width: 90px;
    height: 90px;
    bottom: 40px;
  }

  .mute-btn, .settings-btn {
    width: 70px;
    height: 70px;
  }
}

@media (max-width: 480px) {
  .title-text {
    font-size: clamp(2.2rem, 6vw, 3rem);
  }

  .play-btn {
    width: 70px;
    height: 70px;
  }
}
