body {
  margin: 0;
  padding: 0;
}

@media (max-width: 600px) {
  .start {
    background-image: url("https://res.cloudinary.com/djuisin8z/image/upload/v1761727900/mobile-background-start-cropped_oumb7m.jpg");
    background-size: cover;    
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
  }
}
