@font-face {
  font-family: 'BoldPixels';
  src: url('../fonts/BoldPixels.ttf') format('truetype'),
       url('../fonts/BoldPixels.otf') format('opentype');
}


body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #000;
}

.screen {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('https://res.cloudinary.com/djuisin8z/image/upload/v1761727900/mobile-background-start-cropped_oumb7m.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}


.logo-container {
  position: relative;
  width: 80vw;
  max-width: 700px;
  margin: 0 auto 30px;

  background-image: url('https://res.cloudinary.com/djuisin8z/image/upload/v1761747881/tablero_dham52.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;

  aspect-ratio: 2.2 / 1;
  overflow: hidden;
}

.title-text {
  position: absolute;
  top: 40%;    
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;

  font-family: 'BoldPixels', sans-serif;
  color: #ffcc66;
  text-transform: uppercase;
  line-height: 0.85;
  margin: 0;

  
  font-size: clamp(1.6rem, 7.5vw, 5rem);
  letter-spacing: 0.05em;

  text-shadow:
    2px 2px #3b2000,
    3px 3px #3b2000,
    -1px -1px #3b2000,
    1px -1px #3b2000;
}


.play-btn {
  background-color: transparent;
  background-image: url('https://res.cloudinary.com/djuisin8z/image/upload/v1761747882/Play_ofexbx.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: clamp(70px, 15vw, 120px);
  height: clamp(70px, 15vw, 120px);
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 8vh;
  transition: transform 0.2s ease;
}

.play-btn:hover {
  
  transform: scale(1.1);
}


.mute-btn, .settings-btn {
  position: absolute;
  top: 2vh;
  width: clamp(50px, 10vw, 100px);
  height: clamp(50px, 10vw, 100px);
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.mute-btn {
   background-color: transparent;
  left: 3vw;
  background-image: url('https://res.cloudinary.com/djuisin8z/image/upload/v1762156867/aset_mute_vcjgt3.png');
}

.settings-btn {
   background-color: transparent;
  right: 3vw;
  background-image: url('https://res.cloudinary.com/djuisin8z/image/upload/v1761747882/Ajustes_sbpegh.png');
}


@media (max-width: 1100px) and (min-width: 700px) {
  .logo-container {
    width: 75vw;
  }

  .title-text {
    font-size: clamp(1.8rem, 6vw, 4rem);
    letter-spacing: 0.04em;
    line-height: 0.9;
  }
}


@media (max-width: 600px) {
  .logo-container {
    width: 90vw;
    aspect-ratio: 2.3 / 1;
  }

  .title-text {
    font-size: clamp(1.2rem, 8vw, 3.2rem);
    letter-spacing: 0.03em;
  }

  .play-btn {
    width: 80px;
    height: 80px;
    bottom: 6vh;
  }

  .mute-btn, .settings-btn {
    width: 60px;
    height: 60px;
  }
}


@media (min-width: 1400px) {
  .logo-container {
    max-width: 800px;
  }

  .title-text {
    font-size: clamp(2rem, 5vw, 5.5rem);
  }
}
