@font-face {
  font-family: 'BoldPixels';
  src: url('../fonts/BoldPixels.ttf') format('truetype'),
       url('../fonts/BoldPixels.otf') format('opentype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  font-family: 'BoldPixels', sans-serif;
  color: white;
  background: url('https://res.cloudinary.com/djuisin8z/image/upload/v1761727900/desktop-background-start-cropped_djmrwd.jpg') center/cover no-repeat;
}

.scene {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease, visibility 1s ease;
}

.scene.active {
  opacity: 1;
  visibility: visible;
  z-index: 5;
}

.scene.hidden {
  opacity: 0;
  visibility: hidden;
  z-index: 0;
}

video#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  opacity: 0;
  transition: opacity 1s ease;
}

.top-buttons {
  position: absolute;
  top: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
  z-index: 10;
}

.btn-icon {
  width: 60px;
  height: 60px;
  border: none;
  background: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: transform 0.2s ease;
}

#btn-exit,
#btn-exit2 {
  background-image: url('https://res.cloudinary.com/djuisin8z/image/upload/v1762423571/aset_mute_gykvou.png');
}

#btn-settings,
#btn-settings2 {
  background-image: url('https://res.cloudinary.com/djuisin8z/image/upload/v1761747882/Ajustes_sbpegh.png');
}

.btn-icon:hov
